// 1. Base Styles
@use 'base';

// 2. Components - utils
@use 'components/utils';
@use 'components/slideshow';

// 3. Components - Cards
@use 'components/cards/booking-card';
@use 'components/cards/enquiryform';
@use 'components/cards/quick-facts';
@use 'components/cards/blog-card';

// 4. Components - Sections
@use 'components/sections/call-to-action';
@use 'components/sections/contact-section';
@use 'components/sections/curated-experiences';
@use 'components/sections/faq-accordion';
@use 'components/sections/hero-section';
@use 'components/sections/institutional-cta';
@use 'components/sections/location-section';
@use 'components/sections/process-steps';
@use 'components/sections/tour-summary';
@use 'components/sections/trip-details';
@use 'components/sections/trustworthiness';
@use 'components/sections/upcoming-group-trips';
@use 'components/sections/values-section';
@use 'components/sections/what-is-third-space';
@use 'components/sections/who-we-serve';
@use 'components/sections/why-choose-us';
@use 'components/sections/why-travel';
@use 'components/sections/testimonials';

// 5. Pages & Global Layout
@use 'pages/auth';
@use 'pages/blog';
@use 'pages/blogs';
@use 'pages/footer';
@use 'pages/header';
@use 'pages/policies';

// 6. User Account
@use './pages/profile';

// 7. Global Components
.whatsapp-floating-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 50;
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #25D366;
    color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

    @media (min-width: 640px) {
        height: 2.5rem;
        width: 2.5rem;
    }

    .whatsapp-icon {
        height: 2rem;
        width: 2rem;

        @media (min-width: 640px) {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}